.myContainer {
    margin:auto;
}

.grid {
    margin:auto;
    width:80%;
    height: 3500px;
    padding:10px;
    /* background-color: rgb(190, 191, 192); */
}

svg {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    /* border: 1px solid blue; */
    border-radius: 3px;
}

.col{
    background-color: white;
    padding:10px;
    margin: auto;
    border:1px solid black

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    height: 20%;
    width: 100%;
    /* margin:auto; */
    /* width:800px;
    height:300px; */
}

.row{
    width:100%;
    height:100%;
    margin:auto;
}